<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">
    @import url('https://themes.googleusercontent.com/fonts/css?kit=-NglSHdN8UTmTZpdj5q-43LxSnPzjUf-xWJjg7qS1gT0iQXC_RoEORdPk8GfneEM');

    ol {
      margin: 0;
      padding: 0
    }

    table td,
    table th {
      padding: 0
    }

    .c2 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left;
      height: 11pt
    }

    .c7 {
      color: #6aa84f;
      font-weight: 600;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 14pt;
      font-family: "Poppins";
      font-style: normal
    }

    .c9 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      orphans: 2;
      widows: 2;
      text-align: center;
      height: 11pt
    }

    .c4 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .c8 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: center
    }

    .c5 {
      color: #000000;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 10pt;
      font-style: normal
    }

    .c3 {
      background-color: #ffffff;
      max-width: 451.4pt;
      padding: 0;
    }

    .c6 {
      font-weight: 400;
      font-family: "Poppins"
    }

    .c1 {
      font-weight: 400;
      font-family: "Poppins"
    }

    .c0 {
      font-weight: 700;
      font-family: "Poppins"
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Poppins"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Poppins"
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Poppins";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    hr {
      width: 100%;
      height: 1px;
      background: #419D78;
      border: none;
    }
  </style>
</head>

<body class="c3 doc-content">
  <div>
    <div style="display: -webkit-box; display: -webkit-flex; -webkit-flex-wrap: wrap; display: flex; flex-wrap: wrap;">
      <p class="c8">
        <span class="c5 c6">&nbsp;</span>
        <span
          style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 80.70px; height: 80.70px;">
          <img alt="" src="<%= imageUrl %>"
            style="width: 60px; height: 60px; margin-left: 0.00px; margin-right: 30px; margin-top: 10.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
            title="">
        </span>
      </p>
      <div>
        <p class="c4">
          <span class="c0">
            <b>Patient &amp; Scheduling Information System</b>
          </span>
          <span class="c1 c5" style="line-height: 17px;">
            <br>
            <b>Clínica:</b> <%= clinic %><br>
            <b>Paciente:</b> <%= patient %><br>
            <b>Profissional:</b> <%= professional %><br>
            <b>Data da consulta:</b> <%= appointment.date %> - <%= appointment.start %> &agrave;s <%= appointment.end %>
          </span>
        </p>
      </div>
    </div>
    <hr>
    <p class="c9"><span class="c7"></span></p>
    <p class="c2"><span class="c5 c6"></span></p>
  </div>
  <p class="c1"><span class="c0">
    <%- content -%>
    </span></p>
</body>

</html>