<div style="text-align: left;width: 297mm;font-size: 8px;">
  <span style="margin-right: 1cm">
    <img src="data:image/png;base64,<%= image %>" width="100px" height="100px" />
    <p>
      <span>
        <b>Clínica:</b> <%= clinic %><br>
        <b>Paciente:</b> <%= patient %><br>
        <b>Profissional:</b> <%= professional %><br>
        <b>Data da consulta:</b> <%= appointment.date %> - <%= appointment.start %> &agrave;s <%= appointment.end %>
      </span>
    </p>
  </span>
</div>